.container {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.descriptionContainer {
    background: #FFFFFF;
    width: 60%;
}

.descriptionContainer p, .facilities, .moreFacilities {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.descriptionDetails {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.descriptionText {
    line-height: 1.5;
}


.houseDetails img, .noImage {
    width: 100%;
}


.facilities, .moreFacilities {
    display: flex;
}

.facilities li, .moreFacilities li, .address {
    position: relative;
    padding: 5px 5px 5px 20px;
    margin-right: 10px;
}

.facilities li:before, .address:before, .moreFacilities li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: no-repeat 0 / contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.facilities li:first-child:before {
    background-image: url("../../images/ic_price@3x.png");
}

.facilities li + li:before {
    background-image: url("../../images/ic_size@3x.png");
}

.facilities li:last-child:before {
    background-image: url("../../images/ic_construction_date@3x.png");
}


.address:before {
    background-image: url("../../images/ic_location@3x.png");
}

.moreFacilities li:before {
    background-image: url("../../images/ic_bed@3x.png");
}

.moreFacilities li + li:before {
    background-image: url("../../images/ic_bath@3x.png");
}

.moreFacilities li:last-child:before {
    background-image: url("../../images/ic_garage@3x.png");
}