
.container {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchField {
    width: 30%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.searchButton {
    background: transparent;
    border: none;
    outline: none;
}

.searchButton img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.noResults {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noResults img {
    width: 100%;
}

.noResultsText {
    text-align: center;
    margin-top: 20px;
}

.noResultsText p {
    padding: 5px;
}

.ascOrder {
    position: relative;
    padding: 5px 45px;
    border: none;
    border-radius: 6px 0 0 6px;
    background: #C3C3C3;
    color: #FFFFFF;
    cursor: pointer;
}

.searchContainer button:last-child {
    border-radius: 0 6px 6px 0;
}

.ascOrder:focus {
    background: #EB5440;
}

.ascOrder svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.resultsAmount {
    margin-top: 15px;
}

.createButton {
    background: #EB5440;
    border-radius: 5px;
    position: relative;

}

.createButton a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 5px 10px 5px 50px;
    text-transform: uppercase;
}

.createButton a:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    background: url("../../images/ic_plus_white@3x.png") no-repeat;
    background-size: contain;
}
