
.container {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

header h2 {
    font-size: 20px;
    font-weight: 800;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchField {
    width: 30%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.searchButton {
    background: transparent;
    border: none;
    outline: none;
}

.searchButton img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.noResults {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noResults img {
    width: 100%;
}

.noResultsText {
    text-align: center;
    margin-top: 20px;
}

.noResultsText p {
    padding: 5px;
}

.ascOrder {
    position: relative;
    padding-right: 25px;
}

.ascOrder svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.resultsAmount {
    margin-top: 15px;
}

.createButton {
    background: red;
    border-radius: 3px;

}

.createButton a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
}

