
.backToArrow a {
    text-decoration: none;
    display: block;
    padding-left: 20px;
    position: relative;
    margin: 20px 0;
    color: black;
}

.backToArrow a:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../../images/ic_back_grey@3x.png");
    background-size: contain;
}