.houseContainer {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    background: #FFFFFF;
}

.listingDetails {
    margin-left: 25px;
}

.listingDetailsContainer {
    display: flex;
    padding: 13px;
}

.houseContainer img, .noImage img {
    width: 200px;
    border-radius: 5px 0 0 5px;
}

.houseContainer p, .facilities {
    margin-top: 15px;
}

.address {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.city {
    color: #C3C3C3;
}

.price {
    color: #000000;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.facilities {
    display: flex;
}

.facilities li {
    position: relative;
    padding: 5px 5px 5px 20px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #4A4B4C;
    font-size: 14px;
}

.facilities li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: no-repeat 0 / contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.facilities li:first-child:before {
    background-image: url("../../images/ic_bed@3x.png");
}

.facilities li + li:before {
    background-image: url("../../images/ic_bath@3x.png");
}

.facilities li:last-child:before {
    background-image: url("../../images/ic_size@3x.png");
}

.houseContainer a, .houseContainer a:visited {
    text-decoration: none;
    color: #000000;
}
