@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&family=Open+Sans&display=swap');


body, input {
    font-family: 'Open Sans', sans-serif;

}

body {
    background: #F6F6F6;
    overflow: scroll;
    font-size: 18px;

}


input {
    font-size: 14px;
}

input::placeholder {
    font-size: 12px;
    font-weight: lighter;
    color: #999;
}

h1 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}